<div class="layout">
  <h1>List of Star Wars Characters and their ships</h1>
  <div class="loading" *ngIf="!resultData || loading"><p>loading...</p></div>
  <div *ngIf="resultData && !loading" class="cards">
    <app-card [starshipNames]="starshipNames" [people]="people" *ngFor="let people of peopleList"></app-card>
  </div>
  <div class="pagination" *ngIf="resultData">
    <button [disabled]="!resultData.previous || loading" name="previous" (click)="pagination($event)">Anterior</button>
    <button [disabled]="!resultData.next || loading" name="next" (click)="pagination($event)">Próximo</button>
  </div>
</div>
