<div class="layout">
  <div class="loading" *ngIf="!resultData || loading"><p>Carregando...</p></div>
  <div *ngIf="resultData && !loading" class="cards">
    <div *ngFor="let people of peopleList" class="card">
      <div class="nameWrap">
        <p><span>Nome:</span> {{ people.name }}</p>
      </div>
      <div class="listWrap" *ngIf="people.starships.length > 0">
        <h2>Lista de naves:</h2>
        <ul>
          <li *ngFor="let starship of people.starships">
            <p>{{ starship }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="btns" *ngIf="resultData">
    <button [disabled]="!resultData.previous || loading" name="previous" (click)="pagination($event)">Anterior</button>
    <button [disabled]="!resultData.next || loading" name="next" (click)="pagination($event)">Próximo</button>
  </div>
</div>

